---
import MainTemplate from "../templates/main-template.astro";
import Hero from "../components/hero/index.astro";
import MusingLoop from "../components/musing-lloop.astro";
---

<MainTemplate title="Data Lab" description="Playing with Data">
<Hero title="McLean's Musical Musings" body="My random thoughts on music stuff" />
	<section class="musings">
		<div class="container">
			<h2 class="musings__title | mb-200">Recent Musical Musings</h2>

			<MusingLoop />
		</div>
	</section>
	</MainTemplate>